/* Fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
  margin-bottom: 5%
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
}

/* Title Section */
#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 6%;
}

.phone-image {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}

.download-button {
  margin: 5% 3% 5%;
}

/* Features */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature {
  text-align: center;
  line-height: 1.5;
  padding: 7% 2%;
}

.feature-icon {
  color: #EF8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-p {
  color: #8f8f8f;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #EF8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin-right: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */
#press {
  background-color: #EF8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px 20px;
}

/* Pricing */
#pricing {
  padding: 7% 15%;
  text-align: center;
}

.card {
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */
#cta {
  padding: 7% 15%;
  background-color: #ff4c68;
  text-align: center;
}

.cta-h3 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.cta-button {
  margin: 3% 1.5% 3%;
}

/* Footer */
#footer {
  padding: 7% 15%;
  background-color: #fff;
  text-align: center;
}

.social-icon {
  margin: 3% 1.5%;
}

/* Media Query */
@media (max-width: 1028px) {
  .phone-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
